---
import Footer from '../components/Footer.astro';
import ArticleListing from '../components/ArticleListing.astro';
import Logo from '../components/Logo.astro';
const allPosts = await Astro.glob('../pages/articles/*.md');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>David Lewis</title>
	</head>
	<body>
		<div class="p-8 h-screen grid bg-slate-200">
		<Logo />
			<div>
				<h1 class="font-display text-5xl">Hi, I&apos;m David an engineering leader</h1>
				<p class="text-2xl">by day, a meet up organiser and game developer by night</p>
			</div>	
		</div>
		<section class="p-8">
			<h1 class="text-2xl mb-4 font-bold">Latest articles</h1>
			<ol class="grid md:grid-cols-5 gap-4">
			{allPosts.map((post) => <ArticleListing title={post.frontmatter.title} url={post.url} thumbnail={post.frontmatter.thumbnail} />)}
			</ol>
		</section>
		<Footer />
	</body>
</html>
