---
const { title, thumbnail, url } = Astro.props;

---
<article>
    <a href={url} class="flex md:flex-col gap-4">
    <img src={thumbnail} width="100" height="50" class="md:w-full" />
    <h1 class="text-l font-bold leading-tight">{title}</h1>
    </a>
</article>